.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    height: 5rem;
   
    
   
    top:0;
   
    padding: 0 2rem;
    

}
.header-left{
    display: flex;
    align-items: center; 
    gap:0.5rem;
}
.header-right{
    display: flex;
    align-items: center; 
    gap:1.5rem;
}

.header-mid{
   
    width: 35rem;
   
    
    
}
.header-mid > input{
    flex: 1;
    border: none;
    margin: 0 8rem;
}
@media screen and (max-width: 900px) {
    .header-right{
        display:none;
    }
}


@media screen and (max-width: 700px) {
    .header{
        justify-content:space-between;
        gap: 5rem;
    }
    .header-left{
        margin-left: -2.5rem;
    }
    
    .header-mid{
   
     width: 25rem;
       
        
        
    }
    .header-right{
        display:none;
    }
}
@media screen and (max-width: 500px) {
   .header{
    gap:0.5rem;
   }
}
@media screen and (max-width: 444px) {
    .header{
     gap:0rem;
     padding: 0 0.2rem;
        
    
    }
    
 }

 
@media screen and (max-width: 400px) {
    
    
 }